body {
  font-family: Body;
  overflow-x: hidden;
}

/*  */
/* header */
/*  */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__new-tag {
  background-color: rgb(83, 100, 152);
  color: white;
  padding: 8px 12px 5px 12px;
  font-size: 0.8em;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__main-text {
  font-family: Heading;
  font-weight: 400;
  font-size: 2.2em;
  text-align: center;
  margin: 0 40px;
}

.header__sub-text {
  font-size: 0.9em;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin: 10px 30px 20px 30px;
  line-height: 25px;
}

.header__image {
  width: 1000px;
}

@media (max-width: 1000px) {
  .header__image {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .header__sub-text {
    width: 85%;
  }
}

/*  */
/* nav */
/*  */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  overflow-x: auto;
  white-space: nowrap;
}

.nav__item {
  color: rgb(16, 16, 16);
  text-transform: uppercase;
  margin: 10px 15px 5px 10px;
  padding-bottom: 5px;
  font-size: 0.7em;
  white-space: nowrap;
  letter-spacing: 2px;
}

.nav__item:hover {
  box-shadow: 0px 2px 0px black;
  cursor: pointer;
}

@media (max-width: 800px) {
  .nav {
    border-bottom: 1px solid rgb(234, 234, 234);
  }

  .nav__item {
    padding-bottom: 0;
  }
}

/*  */
/* content */
/*  */

.content__color-bar {
  background-color: rgb(213, 221, 236);
  position: relative;
  height: 300px;
  top: -345px;
  z-index: -1;
}

.content__more-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__image {
  width: 280px;
  border: 7px solid white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin-right: 40px;
}

.content__description {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 0.8em;
}

.content__header {
  font-family: Heading;
  font-size: 1.6em;
}

.content__line {
  width: 45px;
  height: 3px;
  background-color: black;
  text-align: left;
  margin: 10px 0 30px 0;
}

.content__text {
  line-height: 20px;
}

@media (max-width: 870px) {
  .content__more-info {
    flex-direction: column;
  }

  .content__image {
    margin-top: 20px;
    margin-right: 0;
  }

  .content__description {
    margin-top: 40px;
  }

  .content__header {
    font-size: 2.4em;
  }

  .content__text {
    font-size: 1.3em;
    line-height: 25px;
  }

  .content__color-bar {
    height: 450px;
  }
}

@media (max-width: 870px) {

  .content__description {
    width: 90%;
  }
}